<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="phpFastcgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\xampp\php\php-cgi.exe" resourceType="Either" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="Login.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
