RewriteEngine on
RewriteCond $1 !^(index\.php|assets|download|img|css|fonts|js|lib|stylesheets|images|style|plugins|robots\.txt|plan\.php|copyright\.php|security\.php)
RewriteRule ^(.*)$ /body_fat/index.php/$1 [L]
