<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="js" path="launch.js" verb="*" modules="iisnode" resourceType="File" />
            <add name="phpcgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\xampp\php\php-cgi.exe" resourceType="Either" />
            <!-- <add name="Access-Control-Allow-Origin" path="*" verb="domain" /> -->
    
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Powered-By" value="php/7.4.24" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
                <add name="Access-Control-Max-Age" value="1000" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="Rewrite to index.php">
                    <match url="index.php|robots.txt|images|test.php" />
                    <action type="None" />
                </rule>
                <rule name="Rewrite CI Index">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="css|js|jpg|jpeg|png|gif|ico|htm|html|eot|svg|ttf|woff|woff2" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:0}" />
                </rule>
                 <!-- <rule name="Rewrite ssl to non-ssl" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://192.168.1.205:8081" />
                    <conditions>
                        <add input="{CACHE_URL}" pattern="^(.+)://" />
                    </conditions>
                </rule> -->
            </rules>
             <rewriteMaps>
                <rewriteMap name="MapProtocol">
                    <add key="wss" value="ws" />
                    <add key="https" value="http" />
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
         <webSocket
            enabled="true" 
            receiveBufferLimit="4194304"
            pingInterval="00:01:00">
        </webSocket>
    </system.webServer>
</configuration>
  