<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Powered-By" value="php/7.4.24" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
                <add name="Access-Control-Max-Age" value="1000" />
            </customHeaders>
        </httpProtocol>
         <webSocket enabled="true" receiveBufferLimit="4194304" pingInterval="00:01:00">
        </webSocket>
        <handlers>
            <add name="phpcgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\xampp\php\php-cgi.exe" resourceType="Either" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="server.php" />
            </files>
        </defaultDocument>
        
    </system.webServer>
</configuration>
  