<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
          <handlers>
        </handlers>
        
         <webSocket enabled="true" receiveBufferLimit="4194304" pingInterval="00:01:00">
        </webSocket>
        
    </system.webServer>
</configuration>
  