/* ========================================================================== *\
    Themes
\* ========================================================================== */
.btn {
    color: #fff;
    background-color: #000;
    border: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: .9375rem;
    line-height: 1.5;
    padding: .5rem 2rem;
    text-align: center;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn--hover,
.btn:hover {
    background-color: #666;
    color: #fff;
}

.btn--active,
.btn:active {
    background-color: #333;
}

.btn.btn--grey {
    background-color: #B4B3B2;
}

.btn.btn--grey.btn--hover,
.btn.btn--grey:hover {
    background-color: #e0e0e0;
}

.btn.btn--grey.btn--active,
.btn.btn--grey:active {
    background-color: #afafaf;
}

.btn.btn--primary {
    background-color: #998E76;
}

.btn.btn--primary.btn--hover,
.btn.btn--primary:hover {
    background-color: #ada491;
}

.btn.btn--primary.btn--active,
.btn.btn--primary:active {
    background-color: #7a715e;
}

.btn.btn--secondary {
    background-color: #DEAC7C;
}

.btn.btn--secondary.btn--hover,
.btn.btn--secondary:hover {
    background-color: #E8C4A3;
}

.btn.btn--secondary.btn--active,
.btn.btn--secondary:active {
    background-color: #b18963;
}

.btn.btn--tertiary {
    background-color: #712B33;
}

.btn.btn--tertiary.btn--hover,
.btn.btn--tertiary:hover {
    background-color: #956167;
}

.btn.btn--tertiary.btn--active,
.btn.btn--tertiary:active {
    background-color: #622e34;
}

.btn.btn--dark--green {
    background-color: #394646;
}

.btn.btn--dark--green.btn--hover,
.btn.btn--dark--green:hover {
    background-color: #747D7D;
}

.btn.btn--dark--green.btn--active,
.btn.btn--dark--green:active {
    background-color: #4F5A5A;
}

.btn.btn--dark--blue {
    background-color: #313D53;
}

.btn.btn--dark--blue.btn--hover,
.btn.btn--dark--blue:hover {
    background-color: #475878
}

.btn.btn--dark--blue.btn--active,
.btn.btn--dark--blue:active {
    background-color: #222b3a
}

.btn.btn--red {
    background-color: #ff254e;
}

.btn.btn--red.btn--hover,
.btn.btn--red:hover {
    background-color: #ff728c;
}

.btn.btn--red.btn--active,
.btn.btn--red:active {
    background-color: #ff0c39;
}

.btn.btn--pink {
    background-color: #F88181;
}

.btn.btn--pink.btn--hover,
.btn.btn--pink:hover {
    background-color: #fbb1b1;
}

.btn.btn--pink.btn--active,
.btn.btn--pink:active {
    background-color: #f76969;
}

.btn.btn--border,
.btn.btn--border--grey,
.btn.btn--border--primary,
.btn.btn--border--secondary,
.btn.btn--border--tertiary,
.btn.btn--border--dark--green,
.btn.btn--border--dark--blue,
.btn.btn--border--grey,
.btn.btn--border--red,
.btn.btn--border--pink {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
}

.btn.btn--border {
    border-color: #eaeaea;
    color: #666
}

.btn.btn--border.btn--hover,
.btn.btn--border:hover {
    background-color: #666;
    border-color: #666
}

.btn.btn--border.btn--active,
.btn.btn--border:active {
    background-color: #999;
    border-color: #999
}

.btn.btn--border--grey {
    border-color: #eaeaea;
    color: #B4B3B2;
}

.btn.btn--border--grey.btn--hover,
.btn.btn--border--grey:hover {
    background-color: #c3c3c3;
    border-color: #c3c3c3
}

.btn.btn--border--grey.btn--active,
.btn.btn--border--grey:active {
    background-color: #afafaf;
    border-color: #afafaf
}

.btn.btn--border--primary {
    border-color: #E0DDD6;
    color: #998E76;
}

.btn.btn--border--primary.btn--hover,
.btn.btn--border--primary:hover {
    background-color: #998E76;
    border-color: #998E76
}

.btn.btn--border--primary.btn--active,
.btn.btn--border--primary:active {
    background-color: #7a715e;
    border-color: #7a715e
}

.btn.btn--border--secondary {
    border-color: #E8D5C2;
    color: #D8B99A;
}

.btn.btn--border--secondary.btn--hover,
.btn.btn--border--secondary:hover {
    background-color: #D8B99A;
    border-color: #D8B99A
}

.btn.btn--border--secondary.btn--active,
.btn.btn--border--secondary:active {
    background-color: #b18963;
    border-color: #b18963
}

.btn.btn--border--tertiary {
    border-color: #E2D3D5;
    color: #7B3A42;
}

.btn.btn--border--tertiary.btn--hover,
.btn.btn--border--tertiary:hover {
    background-color: #7B3A42;
    border-color: #7B3A42
}

.btn.btn--border--tertiary.btn--active,
.btn.btn--border--tertiary:active {
    background-color: #622e34;
    border-color: #622e34
}

.btn.btn--border--dark--green {
    border-color: #d9e0e0;
    color: #394646;
}

.btn.btn--border--dark--green.btn--hover,
.btn.btn--border--dark--green:hover {
    background-color: #394646;
    border-color: #394646
}

.btn.btn--border--dark--green.btn--active,
.btn.btn--border--dark--green:active {
    background-color: #4F5A5A;
    border-color: #4F5A5A
}

.btn.btn--border--dark--blue {
    border-color: #cad2e0;
    color: #313D53
}

.btn.btn--border--dark--blue.btn--hover,
.btn.btn--border--dark--blue:hover {
    background-color: #313D53;
    border-color: #313D53
}

.btn.btn--border--dark--blue.btn--active,
.btn.btn--border--dark--blue:active {
    background-color: #222b3a;
    border-color: #222b3a
}

.btn.btn--border--red {
    border-color: #ffe9ed;
    color: #ff254e;
}

.btn.btn--border--red.btn--hover,
.btn.btn--border--red:hover {
    background-color: #ff254e;
    border-color: #ff254e;
}

.btn.btn--border--red.btn--active,
.btn.btn--border--red:active {
    background-color: #ff0c39;
    border-color: #ff0c39;
}

.btn.btn--border--pink {
    border-color: #fddede;
    color: #f88181;
}

.btn.btn--border--pink.btn--hover,
.btn.btn--border--pink:hover {
    background-color: #f88181;
    border-color: #f88181
}

.btn.btn--border--pink.btn--active,
.btn.btn--border--pink:active {
    background-color: #f76969;
    border-color: #f76969;
}

.btn.btn--border.btn--hover,
.btn.btn--border:hover,
.btn.btn--border.btn--active,
.btn.btn--border:active,
.btn.btn--border--grey.btn--hover,
.btn.btn--border--grey:hover,
.btn.btn--border--grey.btn--active,
.btn.btn--border--grey:active,
.btn.btn--border--primary.btn--hover,
.btn.btn--border--primary:hover,
.btn.btn--border--primary.btn--active,
.btn.btn--border--primary:active,
.btn.btn--border--secondary.btn--hover,
.btn.btn--border--secondary:hover,
.btn.btn--border--secondary.btn--active,
.btn.btn--border--secondary:active,
.btn.btn--border--tertiary.btn--hover,
.btn.btn--border--tertiary:hover,
.btn.btn--border--tertiary.btn--active,
.btn.btn--border--tertiary:active,
.btn.btn--border--dark--green.btn--hover,
.btn.btn--border--dark--green:hover,
.btn.btn--border--dark--green.btn--active,
.btn.btn--border--dark--green:active,
.btn.btn--border--dark--blue.btn--hover,
.btn.btn--border--dark--blue:hover,
.btn.btn--border--dark--blue.btn--active,
.btn.btn--border--dark--blue:active,
.btn.btn--border--red.btn--hover,
.btn.btn--border--red:hover,
.btn.btn--border--red.btn--active,
.btn.btn--border--red:active,
.btn.btn--border--pink.btn--hover,
.btn.btn--border--pink:hover,
.btn.btn--border--pink.btn--active,
.btn.btn--border--pink:active {
    color: #fff
}

.btn.btn--disabled,
.btn.btn--disabled:hover,
.btn.btn--disabled:active,
.btn.btn--disabled:focus {
    opacity: .4;
    pointer-events: none;
}

.btn.btn--xxs {
    font-size: .75rem;
    padding: .125rem .75rem;
}

.btn.btn--xs {
    font-size: .8125rem;
    padding: .25rem 1.25rem;
}

.btn.btn--sm {
    font-size: .875rem;
    padding: .375rem 1.75rem;
}

.btn.btn--md {
    font-size: 1rem;
    padding: .75rem 2.5rem;
}

.btn.btn--lg {
    font-size: 1.125rem;
    padding: .875rem 3rem;
}

.btn.btn--block {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.btn.btn--square,
.btn.btn--square--lg {
    padding: 0;
}

.btn.btn--square {
    height: 2rem;
    width: 2rem;
}

.btn.btn--square > i {
    font-size: 1rem;
    vertical-align: middle;
}

.btn.btn--square--lg {
    height: 2.5rem;
    width: 2.5rem;
}

.btn.btn--square--lg > i {
    font-size: 1.375rem;
    vertical-align: middle;
}

.bg--white.bg--white {
    background-color: #fff
}

.bg--lightorange.bg--lightorange {
    background-color: #F4E6DC
}

.bg--lightorange--1.bg--lightorange--1 {
    background-color: #F5EFEA
}

.bg--lightorange--2.bg--lightorange--2 {
    background-color: #faf4ef
}

.bg--whitesmoke.bg--whitesmoke {
    background-color: #FFFCFC
}

.bg--whitesmoke--1.bg--whitesmoke--1 {
    background-color: #F7F7F7
}

.bg--lightyellow.bg--lightyellow {
    background-color: #F3F3F1
}

.bg--lightcyan.bg--lightcyan {
    background-color: #EEFAFC
}

.bg--lightpink.bg--lightpink {
    background-color: #F9E9E8
}

.bg--black.bg--black.bg--black.bg--black {
    background-color: #000
}

.bg--grey.bg--grey.bg--grey.bg--grey {
    background-color: #999999
}

.bg--grey--1.bg--grey--1 {
    background-color: #8d8d8d
}

.bg--grey--2.bg--grey--2 {
    background-color: #c7c4be
}

.bg--lightgrey.bg--lightgrey {
    background-color: #e5e5e5
}

.bg--primary.bg--primary {
    background-color: #998E76
}

.bg--primary--light.bg--primary--light {
    background-color: #C2BBAD
}

.bg--primary--dark.bg--primary--dark {
    background-color: #4d4639
}

.bg--secondary.bg--secondary {
    background-color: #DEAC7C
}

.bg--tertiary.bg--tertiary {
    background-color: #7B3A42
}

.bg--dark--green.bg--dark--green {
    background-color: #394646
}

.bg--dark--blue.bg--dark--blue {
    background-color: #313D53
}

.bg--red.bg--red {
    background-color: #FF254E
}

.bg--pink.bg--pink {
    background-color: #F88181
}

/* Text Color */
.text--white {
    color: #fff !important
}

.text--black {
    color: #000 !important
}

.text--grey {
    color: #999999 !important
}

.text--grey--1 {
    color: #8d8d8d !important
}

.text--grey--2 {
    color: #c7c4be !important
}

.text--lightgrey {
    color: #e5e5e5 !important
}

.text--primary {
    color: #998E76 !important
}

.text--primary--light {
    color: #C2BBAD !important
}

.text--secondary {
    color: #DEAC7C !important
}

.text--tertiary {
    color: #7B3A42 !important
}

.text--dark--green {
    color: #394646 !important
}

.text--dark--blue {
    color: #313D53 !important
}

.text--red {
    color: #FF254E !important
}

.text--pink {
    color: #F88181 !important
}

.text--underline {
    text-decoration: underline;
}

.text--line-through {
    text-decoration: line-through;
}

.text--48 {
    font-size: 3rem !important
}

.text--40 {
    font-size: 2.5rem !important
}

.text--36 {
    font-size: 2.25rem !important
}

.text--32 {
    font-size: 2rem !important
}

.text--28 {
    font-size: 1.75rem !important
}

.text--24 {
    font-size: 1.5rem !important
}

.text--20 {
    font-size: 1.25rem !important
}

.text--19 {
    font-size: 1.1875rem !important
}

.text--18 {
    font-size: 1.125rem !important
}

.text--17 {
    font-size: 1.0625rem !important
}

.text--16 {
    font-size: 1rem !important
}

.text--15 {
    font-size: .9375rem !important
}

.text--14 {
    font-size: .875rem !important
}

.text--13 {
    font-size: .8125rem !important
}

.text--12 {
    font-size: .75rem !important
}

.font-w--100 {
    font-weight: 100
}

.font-w--200 {
    font-weight: 200
}

.font-w--300 {
    font-weight: 300
}

.font-w--400 {
    font-weight: 400
}

.font-w--500 {
    font-weight: 500
}

.font-w--600 {
    font-weight: 600
}

.font-w--700 {
    font-weight: 700
}

.font-w--800 {
    font-weight: 800
}

.font-w--900 {
    font-weight: 900
}
